# Personal Dashboard Environment Configuration
# Perfect for running via SSH / PM2 / Systemd on a Raspberry Pi

# Google Calendar Secret iCal URL (.ics)
ICAL_URL=""

# MTA Developer Portal API Key (Free from https://new.mta.info/developers)
MTA_API_KEY=""

# Home Base Station Address for Location Radar & Mini-Map
HOME_ADDRESS=""
